{% extends 'base.html' %}

{% block content %}



<div class="row" style = "margin:5%">
    <div class="col-md-9">
        <div class="tab-content">
            {% for item in lists %}
            <div id="{{ item.id }}" class="tab-pane fade
            {% if forloop.counter0 == 0 %}
            in active
            {% endif %}">
            <h3>{{ item.title }}</h3>
            <p class= 'lead'>{{ item.enteries }}</p>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
            {% for item in lists %}
            <li 
            {% if forloop.counter0 == 0 %}
            class="active"
            {% endif %}
            >
                <a data-toggle="pill" href="#{{item.id}}">{{item.title}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>




<form action="." method="POST" class="form-horizontal">
    {% csrf_token %}   

    <div class="form-group">
        <label for="id_entery" class="col-md-3 control-label">List to draw from </label>
        <div class="col-md-6">
            <input type="text" name="entery" id="id_entery" class="form-control">
        </div>
    </div> 

    <div class="form-group">
        <label for="id_draw" class="col-md-3 control-label">Amount to draw</label>
        <div class="col-md-6">
            <input type="number" name="draw" id="id_draw" placeholder="How many do you want to draw?" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i>Submit</button>
        </div>
    </div>

</form>


<div class="container-fluid", style = "margin:5%" >
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sn-12 maincontent" >
        {% if choice %}
            <p class = "lead">The chosen Numbers are <br> 
            {% for digit in choice %}
            {{ digit }}
            {% endfor %} </p>
        {% else %}
            <p class = "lead">No numbers drawn</p>
        {% endif %}
        </div>
    </div>
</div>
{% endblock content %}


